node_modules/
target/
build/
dist/
tmp/
*.iml
.idea
.DS_Store

.env
.env.*
!.env.template

module.tar.gz

# examples should not be opinionated about choice of package manager
package-lock.json
yarn.lock

# not opinionated about choice of VSCode setup
.vscode/
