# examples should not be opinionated about choice of package manager
package-lock.json
yarn.lock

# examples should ignore node_modules within subdirectores
**/node_modules/

# not opinionated about choice of VSCode setup
.vscode